!!! 5
%html{ html_attrs(I18n.locale) }
  %head
    %meta{ :charset => 'UTF-8' }
    = csrf_meta_tags

    %title Groseillier

    = stylesheet_link_tag 'groseillier/admin', :media => 'screen, projection'
    = yield :stylesheets

  %body{:class => full_page_class}
    #layout
      %header
        %div.brand= link_to 'Groseillier'
        %nav.horizontal
          - if administrator_signed_in?
            = render_navigation(context: 'groseillier_main', renderer: :list)
          = render_navigation(context: 'groseillier_secondary', renderer: :list)

      #page
        .frame
          .frame-header
            = content_for(:page_header)

          .frame-content
            = render_flash_messages

            - if content_for?(:action_bar)
              .main-content
                = content_for?(:page_content) ? yield(:page_content) : yield
              .action-bar
                = content_for(:action_bar)
            - else
              = content_for?(:page_content) ? yield(:page_content) : yield

          .frame-footer
            = content_for(:page_footer)

      %footer
        %div
          %p Powered by Groseillier

    = javascript_include_tag 'groseillier'
    = yield :javascripts
