!!! 5
%html{ html_attrs(I18n.locale) }
  %head
    %meta{ :charset => 'UTF-8' }
    = csrf_meta_tags

    %title Groseillier

    = stylesheet_link_tag 'groseillier/admin', :media => 'screen, projection'

  -#%body{:class => page_class}
  %body
    #layout
      %header
        %div.brand= link_to 'Groseillier'
        %nav.horizontal
          = render_navigation(context: 'groseillier_main', renderer: :list)
          = render_navigation(context: 'groseillier_secondary', renderer: :list)

      #page
        .frame
          .frame-header
            = content_for(:page_header)

          .frame-content
            = render_flash_messages
            = yield

          .frame-footer

      %footer
        %div
          %p Powered by Groseillier

    //= javascript_include_tag 'application'
