= show_for administrator do |a|
  = a.attribute :nickname
  = a.attribute :email
  = a.attribute :sign_in_count
  = a.attribute :current_sign_in_at
  = a.attribute :last_sign_in_at
  = a.attribute :current_sign_in_ip
  = a.attribute :last_sign_in_ip
  = a.attribute :locked_at
  = a.attribute :preferred_locale do
    = Groseillier::Locale.human_name(administrator.preferred_locale)
