= simple_form_for @administrator, html: { autocomplete: 'off' } do |f|
  = f.input :nickname, :hint => true
  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  = f.input :preferred_locale, collection: Groseillier::Locale.collection_select(true), include_blank: false

  .actions
    = f.button :submit
